= Haml::Engine.new(File.read("haml/_header.haml")).render

%header#logo
  .pure-g-r
    .pure-u-3-24
    .pure-u-4-5#nologo-content
      %h1
        %a{:href => "http://myuon.digi2.jp/"} みょんさんの。

.pure-g-r
  .pure-u-3-24
    = Haml::Engine.new(File.read("haml/_nav.haml")).render
  .pure-u-4-5#content
    %article
      %header
        %h2 web漫画
      %section
        %p 数字は大体更新順(≠時系列順)
      %section.order
        %h3 ぼたもち
        %p
          %a{:href => "manga/mochi.html"}
            最初から読む
            %br/
            %img{:src => "img/mochi/mochi_banner.png"}
        %p
          - mochi_i = Proc.new do |i|
            %a{:href => "img/mochi/mochi#{i}.png", :rel => "lightbox[mochi]", :title => "##{i}"} ##{("%02d" % i)}
          - mochi = Proc.new { |arr| arr.each { |i| mochi_i.call(i) }}

          - mochi.call((0..14).to_a)

        %h3 ウサギと犬。
        %p
          %a{:href => "manga/usagi.html"}
            最初から読む
            %br/
            %img{:src => "img/usagi/usagi_banner.png"}
        %p
          - usagi_i = Proc.new do |i|
            %a{:href => "img/usagi/usa#{i}.png", :rel => "lightbox[usagi]", :title => "##{i}"} ##{("%02d" % i)}
          - usagi = Proc.new { |arr| arr.each { |i| usagi_i.call(i) }}

          - usagi.call((0..35).to_a)

      %section.order
        %h3 単発もの
        %p
          %a{:href => "img/manga/4koma_0.png", :rel => "lightbox[4koma]"} #0
          %a{:href => "img/manga/4koma_2.png", :rel => "lightbox[4koma]"} #2
          %a{:href => "img/manga/4koma_6.png", :rel => "lightbox[4koma]"} #6
          %a{:href => "img/manga/4koma_7.png", :rel => "lightbox[4koma]"} #7
        %p
          Haskell関係
        %p
          %a{:href => "img/manga/haskell_coq_1.png", :rel => "lightbox[4koma]"} HaskellたんとCoqたん
          %a{:href => "img/manga/lens_comic.png", :rel => "lightbox[4koma]"} Lens
          
    %article
      %header
        %h2 WCR投票
      %section
        %p
          面白かったらクリックしてください。
        %p
          %a{:href => "http://www.webcomicranking.com/vote.php?id=08850", :target => "_blank"}
            %img{:src => "img/design/WCR.png", :style => "border: 1px solid #aaa;"}

= Haml::Engine.new(File.read("haml/_footer.haml")).render
